Repository jbcom/nodejs-strata: changes, and which Mergify rules are due for each by the changed paths.
All: Label documentation changes, Label CI/config changes

.mergify.yml:

# Mergify Configuration
# Aligned with GitHub repository rulesets for jbcom/strata
#
# GitHub Main Ruleset Requirements:
# - Squash merge only
# - Required status check: Mergify Merge Protections
# - Required linear history
# - CodeQL code scanning (high_or_higher)

queue_rules:
  # Urgent queue - for hotfixes and critical PRs
  - name: urgent
    autoqueue: true
    merge_method: squash
    batch_size: 1
    queue_conditions:
      - label = urgent
      - base = main
    merge_conditions:
      - check-success = Build and Test
      - check-success = CodeQL

  # Default queue - standard PRs
  - name: default
    autoqueue: true
    merge_method: squash
    batch_size: 2
    batch_max_wait_time: 2 min
    queue_conditions:
      - base = main
      - -label = urgent
      - -label = do-not-merge
      - -draft
    merge_conditions:
      - check-success = Build and Test
      - check-success = CodeQL

# Pull request automation rules
pull_request_rules:
  # Delete head branches after merge
  - name: Delete head branch after merge
    conditions:
      - merged
    actions:
      delete_head_branch:

  # Label PRs based on files changed
  - name: Label documentation changes
    conditions:
      - files ~= ^docs/
    actions:
      label:
        add:
          - documentation

  - name: Label CI/config changes
    conditions:
      - or:
          - files ~= ^\.github/
          - files ~= ^\.mergify\.yml$
    actions:
      label:
        add:
          - ci

  # Warn on stale PRs
  - name: Warn on conflicts
    conditions:
      - conflict
    actions:
      comment:
        message: |
          @{{author}} this PR has merge conflicts. Please resolve them.

# Merge protections - branch protection rules enforced by Mergify
merge_protections:
  # Require CI to pass for all PRs targeting main
  - name: CI Must Pass
    description: All PRs must pass CI before merging
    if:
      - base = main
    success_conditions:
      - check-success = Build and Test

  # Require CodeQL security scanning
  - name: Security Scanning Required
    description: CodeQL must pass for security compliance
    if:
      - base = main
    success_conditions:
      - check-success = CodeQL

  # Ensure no merge conflicts
  - name: No Conflicts
    description: PRs must not have merge conflicts
    if:
      - base = main
    success_conditions:
      - -conflict

Update issue templates (#106)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/example_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/performance.md
  .github/ISSUE_TEMPLATE/shader_bug.md
Due: Label CI/config changes

fix(capacitor): Address all AI review feedback and fix CI build
  .eslintrc.json
  package.json
  packages/capacitor-plugin/README.md
  packages/capacitor-plugin/android/src/main/java/com/strata/capacitor/StrataPlugin.java
  packages/capacitor-plugin/ios/Plugin.swift
  packages/capacitor-plugin/package.json
  packages/capacitor-plugin/src/react/useControlHints.ts
  packages/capacitor-plugin/src/react/useInput.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/__tests__/godRays.test.ts
  src/api/entities.ts
  src/api/experience.ts
  src/api/systems.ts
  src/components/GodRays.tsx
  src/components/PostProcessing.tsx
  src/core/decals.ts
  src/core/postProcessing.ts
Due: none

feat(templates): comprehensive issue template improvements (#112)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/example_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/performance.md
  .github/ISSUE_TEMPLATE/shader_bug.md
Due: Label CI/config changes

Ci/cd workflow improvements (#148)
  .github/CODEOWNERS
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/docs.yml
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/example_request.md
  .github/ISSUE_TEMPLATE/feature.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/other.yml
  .github/ISSUE_TEMPLATE/performance.md
  .github/ISSUE_TEMPLATE/shader_bug.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/SECURITY.md
  .github/agents/code-reviewer.md
  .github/agents/project-manager.md
  .github/copilot-instructions.md
  .github/dependabot.yml
  .github/prompts/bug-review.prompt.yml
  .github/prompts/feature-review.prompt.yml
  .github/prompts/triage.prompt.yml
  .github/workflows/triage.yml
  README.md
  internal/triage/README.md
  internal/triage/package.json
  internal/triage/src/commands/review.ts
  internal/triage/src/commands/scan.ts
  internal/triage/src/mcp.ts
  package.json
  pnpm-lock.yaml
Due: Label CI/config changes

refactor(triage): MCP-first architecture with GitHub + GraphQL MCP (#169)
  internal/triage/README.md
  internal/triage/src/commands/configure.ts
  internal/triage/src/commands/release.ts
  internal/triage/src/execution/github-sandbox.ts
  internal/triage/src/mcp.ts
  internal/triage/src/octokit.ts
  internal/triage/src/planning/cascade.ts
  internal/triage/src/planning/roadmap.ts
  internal/triage/src/planning/sprint.ts
  tests/unit/core/animation.test.ts
  tests/unit/core/stateMachine.test.ts
Due: none

fix: Add machine-readable release detection output (#186)
  .github/workflows/release.yml
  internal/triage/src/commands/release.ts
Due: Label CI/config changes

fix(ci): Make Coveralls non-blocking until issue #189 is resolved
  .github/workflows/ci.yml
Due: Label CI/config changes

feat: Add triage workflow using agentic-triage (#188)
  .github/workflows/ci.yml
  .github/workflows/triage.yml
Due: Label CI/config changes

fix(ci): Add missing Ollama environment variables to triage workflow
  .github/workflows/triage.yml
Due: Label CI/config changes

fix(dev): Use local markdownlint hook for pnpm compatibility
  .husky/pre-commit
  .pre-commit-config.yaml
  package.json
  pnpm-lock.yaml
Due: none

chore: sync settings.yml from control-center
  .github/settings.yml
Due: Label CI/config changes

chore(deps): bump actions/setup-node from 4 to 6 (#17)
  .github/workflows/triage.yml
Due: Label CI/config changes

chore(deps-dev): bump @types/node from 22.19.2 to 25.0.2 (#14)
  internal/triage/package.json
  pnpm-lock.yaml
Due: none

Refactor: Update org name and dependencies
  .github/CODEOWNERS
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/SECURITY.md
  internal/triage/package.json
  package.json
  pnpm-lock.yaml
Due: Label CI/config changes

fix(ci): use test:coverage script to ensure lcov.info generation
  .github/workflows/ci.yml
Due: Label CI/config changes

fix(ci): make Dependency Review non-blocking until Dependency Graph enabled
  .github/workflows/security.yml
Due: Label CI/config changes

Coveralls coverage generation (#27)
  .github/workflows/ci.yml
  .github/workflows/security.yml
Due: Label CI/config changes

fix(ci): pin all GitHub Actions to exact SHAs and fix docs workflow
  .github/workflows/ci.yml
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/docs.yml
  .github/workflows/security.yml
  .github/workflows/triage.yml
  CLAUDE.md
  memory-bank/activeContext.md
Due: Label CI/config changes

fix(components): resolve Audio.tsx circular import on case-insensitive filesystems
  src/components/Audio.tsx
  src/components/index.ts
Due: none

fix(components): resolve Audio.tsx circular import on case-insensitive filesystems (#34)
  src/components/Audio.tsx
  src/components/index.ts
Due: none

docs: update GAPS.md to reflect actual completion status
  GAPS.md
Due: none

chore: remove obsolete dependabot-auto-merge workflow
  .github/workflows/dependabot-auto-merge.yml
Due: Label CI/config changes

docs: add game framework architecture and RFCs
  AGENTS.md
  CLAUDE.md
  docs/architecture/GAME_FRAMEWORK_VISION.md
  docs/architecture/README.md
  docs/architecture/ROADMAP.md
  docs/architecture/guides/AGENTS.md
  docs/architecture/guides/MIGRATION.md
  docs/architecture/rfc/RFC-001-GAME-ORCHESTRATION.md
  docs/architecture/rfc/RFC-002-COMPOSITIONAL-OBJECTS.md
  docs/architecture/rfc/RFC-003-WORLD-TOPOLOGY.md
  docs/architecture/rfc/RFC-004-DECLARATIVE-GAMES.md
Due: Label documentation changes

Update docs/architecture/rfc/RFC-001-GAME-ORCHESTRATION.md
  docs/architecture/rfc/RFC-001-GAME-ORCHESTRATION.md
Due: Label documentation changes

Update docs/architecture/GAME_FRAMEWORK_VISION.md
  docs/architecture/GAME_FRAMEWORK_VISION.md
Due: Label documentation changes

Update docs/architecture/rfc/RFC-003-WORLD-TOPOLOGY.md
  docs/architecture/rfc/RFC-003-WORLD-TOPOLOGY.md
Due: Label documentation changes

Update docs/architecture/ROADMAP.md
  docs/architecture/ROADMAP.md
Due: Label documentation changes

Refactor: Pass mode instance with props to UI and hooks
  docs/architecture/rfc/RFC-001-GAME-ORCHESTRATION.md
  docs/architecture/rfc/RFC-004-DECLARATIVE-GAMES.md
Due: Label documentation changes

Add declarative scene support to game definitions
  docs/architecture/rfc/RFC-004-DECLARATIVE-GAMES.md
Due: Label documentation changes

feat: Add cooldown and once behavior to triggers
  docs/architecture/rfc/RFC-001-GAME-ORCHESTRATION.md
Due: Label documentation changes

feat: Add ECS world to game instance and clear on stop
  docs/architecture/rfc/RFC-004-DECLARATIVE-GAMES.md
Due: Label documentation changes

Update src/components/audio/AmbientAudio.tsx
  src/components/audio/AmbientAudio.tsx
Due: none

Document SoundManager behavior and remove speculative comments from AmbientAudio
  src/components/audio/AmbientAudio.tsx
  src/core/audio/sound-manager.ts
Due: none

docs: address Gemini code review feedback on STRATEGIC_DIRECTION.md
  STRATEGIC_DIRECTION.md
Due: none

chore: add generated TypeDoc docs to .gitignore
  .gitignore
Due: none

chore: restore STRATEGIC_DIRECTION.md (again)
  STRATEGIC_DIRECTION.md
Due: none

perf: optimize render loops and restore missing documentation
  src/components/GodRays.tsx
  src/components/Physics.tsx
  src/components/Water.tsx
  src/core/clouds.ts
  src/core/godRays.ts
Due: none

Checkpoint before follow-up message
  src/components/AI.tsx
  src/components/Animation.tsx
  src/components/Camera.tsx
  src/components/Decals.tsx
  src/components/Input.tsx
  src/components/LOD.tsx
  src/components/Particles.tsx
  src/components/PostProcessing.tsx
  src/components/Raymarching.tsx
  src/components/Shaders.tsx
  src/components/State.tsx
  src/components/UI.tsx
  src/components/Weather.tsx
  src/components/audio/index.ts
  src/components/state/index.ts
  src/core/animation.ts
  src/core/audio/index.ts
  src/core/camera.ts
  src/core/ecs/index.ts
  src/core/lod.ts
  src/core/marching-cubes.ts
  src/core/math/noise.ts
  src/core/pathfinding/index.ts
  src/core/sdf.ts
  src/core/ui.ts
  src/core/weather.ts
Due: none

Checkpoint before follow-up message
  src/components/Clouds.tsx
  src/components/Instancing.tsx
  src/components/Particles.tsx
  src/components/Sky.tsx
Due: none
