Repository jbcom/nodejs-strata: changes, and which Mergify rules are due for each by the changed paths.
All: Label documentation changes, Label CI/config changes

.mergify.yml:

# Mergify Configuration
# Aligned with GitHub repository rulesets for jbcom/strata
#
# GitHub Main Ruleset Requirements:
# - Squash merge only
# - Required status check: Mergify Merge Protections
# - Required linear history
# - CodeQL code scanning (high_or_higher)

queue_rules:
  # Urgent queue - for hotfixes and critical PRs
  - name: urgent
    autoqueue: true
    merge_method: squash
    batch_size: 1
    queue_conditions:
      - label = urgent
      - base = main
    merge_conditions:
      - check-success = Build and Test
      - check-success = CodeQL

  # Default queue - standard PRs
  - name: default
    autoqueue: true
    merge_method: squash
    batch_size: 2
    batch_max_wait_time: 2 min
    queue_conditions:
      - base = main
      - -label = urgent
      - -label = do-not-merge
      - -draft
    merge_conditions:
      - check-success = Build and Test
      - check-success = CodeQL

# Pull request automation rules
pull_request_rules:
  # Delete head branches after merge
  - name: Delete head branch after merge
    conditions:
      - merged
    actions:
      delete_head_branch:

  # Label PRs based on files changed
  - name: Label documentation changes
    conditions:
      - files ~= ^docs/
    actions:
      label:
        add:
          - documentation

  - name: Label CI/config changes
    conditions:
      - or:
          - files ~= ^\.github/
          - files ~= ^\.mergify\.yml$
    actions:
      label:
        add:
          - ci

  # Warn on stale PRs
  - name: Warn on conflicts
    conditions:
      - conflict
    actions:
      comment:
        message: |
          @{{author}} this PR has merge conflicts. Please resolve them.

# Merge protections - branch protection rules enforced by Mergify
merge_protections:
  # Require CI to pass for all PRs targeting main
  - name: CI Must Pass
    description: All PRs must pass CI before merging
    if:
      - base = main
    success_conditions:
      - check-success = Build and Test

  # Require CodeQL security scanning
  - name: Security Scanning Required
    description: CodeQL must pass for security compliance
    if:
      - base = main
    success_conditions:
      - check-success = CodeQL

  # Ensure no merge conflicts
  - name: No Conflicts
    description: PRs must not have merge conflicts
    if:
      - base = main
    success_conditions:
      - -conflict

chore(ci): pin GitHub Actions to SHAs and update to latest versions
  .github/workflows/ollama-pr-review.yml
Due: Label CI/config changes

fix(ci): remove token override from checkout to resolve git fetch error
  .github/workflows/ollama-pr-review.yml
Due: Label CI/config changes

chore(ci): pin actions to SHA and fix CodeQL security alerts
  .github/workflows/ollama-pr-review.yml
  .github/workflows/project-sync.yml
  CHANGELOG.md
Due: Label CI/config changes

feat: Implement declarative game creation API
  docs/architecture/guides/MIGRATION_DECLARATIVE.md
  examples/declarative-game/src/App.tsx
  examples/declarative-game/src/platformer-template.ts
  examples/declarative-game/src/rpg-template.ts
  examples/declarative-game/src/sandbox-template.ts
  package.json
  src/api/StrataGame.tsx
  src/api/createGame.ts
  src/api/index.ts
  src/api/presets/action.ts
  src/api/presets/index.ts
  src/api/presets/rpg.ts
  src/game/ModeManager.ts
  src/game/Registry.ts
  src/game/SceneManager.ts
  src/game/WorldGraph.ts
  src/game/types.ts
Due: Label documentation changes

Update activeContext.md with Ecosystem Curator production details
  memory-bank/activeContext.md
Due: none

Refactor: Unify workflows into ecosystem family
  memory-bank/activeContext.md
Due: none

feat: Implement declarative game creation API (#111)
  docs/architecture/guides/MIGRATION_DECLARATIVE.md
  examples/declarative-game/src/App.tsx
  examples/declarative-game/src/platformer-template.ts
  examples/declarative-game/src/rpg-template.ts
  examples/declarative-game/src/sandbox-template.ts
  package.json
  src/api/StrataGame.tsx
  src/api/createGame.ts
  src/api/index.ts
  src/api/presets/action.ts
  src/api/presets/index.ts
  src/api/presets/rpg.ts
  src/game/ModeManager.ts
  src/game/Registry.ts
  src/game/SceneManager.ts
  src/game/WorldGraph.ts
  src/game/types.ts
Due: Label documentation changes

feat: Configure 21st.dev Magic MCP for Cursor IDE (#105)
  .cursor/mcp.json
  memory-bank/activeContext.md
Due: none

feat: Implement World Topology System
  examples/world-topology/README.md
  examples/world-topology/index.html
  examples/world-topology/package.json
  examples/world-topology/src/App.tsx
  examples/world-topology/src/main.tsx
  memory-bank/activeContext.md
  src/index.ts
  src/world/ConnectionSystem.ts
  src/world/RegionSystem.ts
  src/world/SpawnSystem.ts
  src/world/WorldGraph.ts
  src/world/__tests__/world.test.ts
  src/world/index.ts
  src/world/types.ts
Due: none

fix(world): address reviewer feedback and fix bugs
  examples/world-topology/src/App.tsx
  src/world/ConnectionSystem.ts
  src/world/RegionSystem.ts
  src/world/SpawnSystem.ts
  src/world/WorldGraph.ts
  src/world/__tests__/world.test.ts
  src/world/types.ts
Due: none

Compositional object system components (#107)
  src/__tests__/compose.test.ts
  src/api/compose.ts
  src/api/index.ts
  src/compose/coverings.ts
  src/compose/creatures/index.ts
  src/compose/creatures/types.ts
  src/compose/index.ts
  src/compose/materials/factory.ts
  src/compose/materials/index.ts
  src/compose/materials/types.ts
  src/compose/props/index.ts
  src/compose/props/presets.ts
  src/compose/props/types.ts
  src/compose/skeletons/index.ts
  src/compose/skeletons/presets.ts
  src/compose/skeletons/types.ts
  src/index.ts
Due: none

feat: Add game orchestration module (#106)
  IMPLEMENTATION_STATUS.md
  examples/api-showcase/src/examples/game/GameOrchestrationExamples.tsx
  examples/api-showcase/src/examples/index.ts
  src/game/ModeManager.ts
  src/game/SceneManager.ts
  src/game/TransitionManager.ts
  src/game/TriggerSystem.ts
  src/game/index.ts
  src/index.ts
  tests/unit/game/ModeManager.test.ts
  tests/unit/game/SceneManager.test.ts
  tests/unit/game/TransitionManager.test.ts
  tests/unit/game/TriggerSystem.test.ts
Due: none

refactor: Core library API audit with package decomposition and export refactoring
  docs/architecture/ARCADE_CABINET_TRIAGE.md
  docs/architecture/ECOSYSTEM_INTEGRATION.md
  docs/architecture/ISSUE_TRIAGE.md
  docs/architecture/PACKAGE_DECOMPOSITION.md
  docs/architecture/README.md
  src/core/camera.ts
  src/core/particles.ts
  src/core/weather.ts
  src/presets/particles/index.ts
  src/presets/terrain/index.ts
  src/presets/vegetation/index.ts
  tsconfig.json
Due: Label documentation changes

Checkpoint before follow-up message
  docs/architecture/PACKAGE_DECOMPOSITION.md
Due: Label documentation changes

docs: update package decomposition to use strata-game-library org
  docs/architecture/ISSUE_TRIAGE.md
  docs/architecture/PACKAGE_DECOMPOSITION.md
Due: Label documentation changes

docs: update issue triage with completed items
  docs/architecture/ISSUE_TRIAGE.md
Due: Label documentation changes

Update GitHub Actions dependencies to latest versions
  .github/workflows/auto-merge.yml
  .github/workflows/docs.yml
  .github/workflows/nightly-improve.yml
  .github/workflows/ollama-pr-review.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .github/workflows/triage.yml
Due: Label CI/config changes

Checkpoint before follow-up message
  src/core/sky.ts
  src/presets/characters/index.ts
  src/presets/fur/__tests__/fur.test.ts
  src/presets/fur/index.ts
  tests/unit/core/sky.test.ts
Due: none

Checkpoint before follow-up message
  src/presets/characters/index.ts
  src/presets/fur/index.ts
Due: none

Checkpoint before follow-up message
  src/components/camera/GyroscopeCamera.tsx
  src/components/camera/__tests__/camera.test.tsx
  src/components/camera/index.ts
  src/components/sky/ProceduralSky.tsx
  src/components/ui/KillStreakNotification.tsx
  src/components/ui/ScreenFlash.tsx
  src/components/ui/VirtualJoystick.tsx
  src/components/ui/__tests__/ui.test.tsx
  src/components/ui/index.ts
  src/components/water/Water.tsx
  src/components/weather/Rain.tsx
  src/components/weather/Snow.tsx
  src/components/weather/types.ts
  src/core/sky.ts
  src/hooks/index.ts
  src/hooks/useKeyboardControls.ts
Due: none

feat: Add attack animation and options to animateCharacter
  src/presets/characters/index.ts
Due: none

chore: remove deprecated ollama-pr-review.yml (replaced by ecosystem-reviewer)
  .github/workflows/ollama-pr-review.yml
Due: Label CI/config changes

chore: sync ecosystem-curator.yml from control-center
  .github/workflows/ecosystem-curator.yml
Due: Label CI/config changes

chore: sync .github/actions/agentic-ci-resolution/action.yml from control-center
  .github/actions/agentic-ci-resolution/action.yml
Due: Label CI/config changes

chore: sync .github/actions/agentic-issue-triage/action.yml from control-center
  .github/actions/agentic-issue-triage/action.yml
Due: Label CI/config changes

chore: sync scripts/ecosystem-harvester.mjs from control-center
  scripts/ecosystem-harvester.mjs
Due: none

chore: sync scripts/ecosystem-sage.mjs from control-center
  scripts/ecosystem-sage.mjs
Due: none

Checkpoint before follow-up message
  src/components/camera/GyroscopeCamera.tsx
  src/components/ui/VirtualJoystick.tsx
Due: none

fix: avoid broken pipe with large diffs
  .github/actions/agentic-pr-review/action.yml
Due: Label CI/config changes

Checkpoint before follow-up message
  src/api/StrataGame.tsx
  src/components/ai/YukaEntityManager.tsx
  src/components/ai/YukaPath.tsx
  src/components/ai/YukaStateMachine.tsx
  src/components/animation/IKChain.tsx
  src/components/animation/LookAt.tsx
  src/components/animation/TailPhysics.tsx
  src/components/clouds/CloudSky.tsx
  src/components/decals/AnimatedBillboard.tsx
  src/components/decals/DecalPool.tsx
  src/components/postprocessing/EffectStack.tsx
  src/core/input.ts
  src/core/kinematics.ts
  src/core/lod.ts
  src/core/marching-cubes.ts
  src/game/SceneManager.ts
  src/game/WorldGraph.ts
  src/presets/decals/index.ts
  src/presets/reflections/index.ts
  src/presets/shadows/index.ts
  src/presets/vegetation/index.ts
  src/utils/texture-loader.ts
Due: none

Checkpoint before follow-up message
  src/components/camera/GyroscopeCamera.tsx
  src/components/instancing/GPUInstancedMesh.tsx
  src/components/postprocessing/EffectStack.tsx
  src/core/particles.ts
  src/core/sky.ts
  src/presets/characters/index.ts
  src/presets/fur/index.ts
  src/presets/input/index.ts
  src/presets/postprocessing/index.ts
  tests/unit/core/sky.test.ts
Due: none

Refactor UI components and GyroscopeCamera for better control and flexibility
  src/components/camera/GyroscopeCamera.tsx
  src/components/ui/KillStreakNotification.tsx
  src/components/ui/ScreenFlash.tsx
  src/components/ui/VirtualJoystick.tsx
  src/components/ui/__tests__/ui.test.tsx
Due: none

test(ui): add edge case tests for KillStreakNotification
  src/components/ui/__tests__/ui.test.tsx
Due: none

Auto-commit pending changes before rebase - PR/MR synchronize
  src/presets/characters/index.ts
Due: none

docs: centralize documentation to strata.game
  .github/workflows/docs.yml.disabled
  .github/workflows/docs.yml.disabled.txt
  README.md
Due: Label CI/config changes

chore: migrate to @strata-game-library npm organization
  package.json
Due: none

chore: remove ecosystem workflow (moved to control-center)
  .github/workflows/ecosystem-delegator.yml
Due: Label CI/config changes

chore: remove ecosystem workflow (moved to control-center)
  .github/workflows/ecosystem-fixer.yml
Due: Label CI/config changes
